# Ansible
inventory.ini
*.retry
.vault_pass
vault_pass.txt
ansible/inventory/inventory.ini

# SSH keys
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars
*.auto.tfvars
terraform.tfvars

# Ignore duplicate ansible vault locations generated during experiments
ansible/inventories/group_vars/
ansible/playbooks/group_vars/
ansible/inventories/group_vars
ansible/playbooks/group_vars

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials
.env
terraform/digitalocean/.do.env
