# Ansible
inventory.ini
*.retry
.vault_pass
vault_pass.txt
ansible/inventory/inventory.ini

# SSH keys
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
*.tfvars
*.auto.tfvars
terraform.tfvars

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials
.env
terraform/digitalocean/.do.env
