http:
  routers:
    uptimekuma:
      rule: "Host(`status.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: uptimekuma
      tls:
        certResolver: cloudflare
        domains:
          - main: "{{ root_domain | default('newnol.io.vn') }}"
            sans:
              - "*.{{ root_domain | default('newnol.io.vn') }}"

    adguard:
      rule: "Host(`adguard.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: adguard
      tls:
        certResolver: cloudflare

    grafana:
      rule: "Host(`grafana.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: grafana
      tls:
        certResolver: cloudflare

    n8n:
      rule: "Host(`n8n.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: n8n
      tls:
        certResolver: cloudflare

    searxng:
      rule: "Host(`search.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: searxng
      tls:
        certResolver: cloudflare

    langfuse:
      rule: "Host(`langfuse.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: langfuse
      tls:
        certResolver: cloudflare

    dify:
      rule: "Host(`dify.{{ root_domain | default('newnol.io.vn') }}`)"
      entryPoints:
        - websecure
      service: dify
      tls:
        certResolver: cloudflare

  services:
    uptimekuma:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:3001"

    adguard:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:3000"

    grafana:
      loadBalancer:
        servers:
          - url: "http://192.168.1.61:3000"

    n8n:
      loadBalancer:
        servers:
          - url: "http://192.168.1.62:5678"

    searxng:
      loadBalancer:
        servers:
          - url: "http://192.168.1.62:8080"

    langfuse:
      loadBalancer:
        servers:
          - url: "http://192.168.1.62:3003"

    dify:
      loadBalancer:
        servers:
          - url: "http://192.168.1.62:3004"
