use_default_settings: true

server:
  secret_key: "{{ searxng_secret_key | default('change-me-searxng-secret') }}"
  limiter: false
  image_proxy: true
  port: 8080
  bind_address: "0.0.0.0"

search:
  safe_search: 0
  autocomplete: "google"
  formats:
    - html
    - json

general:
  instance_name: "Homelab Search"
  enable_metrics: false

ui:
  static_use_hash: true
